DATABASE_URL= # Connect to Supabase via connection pooling with Supavisor.
DIRECT_URL= # Direct connection to the database. Used for migrations.

SUPABASE_URL= # Supabase URL
SUPABASE_ANON_KEY= # Supabase public key
