DATABASE_URL= # Connect to Supabase via connection pooling with Supavisor.
DIRECT_URL= # Direct connection to the database. Used for migrations.

SUPABASE_URL= # Supabase URL
SUPABASE_ANON_KEY= # Supabase anon user public key
SUPABASE_SERVICE_ROLE_KEY= # Supabase service role key
