[submodule "modules/advents-react-native"]
	path = modules/advents-react-native
	url = git@github.com:advents-io/advents-react-native.git
[submodule "modules/docs"]
	path = modules/docs
	url = git@github.com:advents-io/docs.git
